body {
    background-color: blue;
    font-size: 2rem;
}

#small,
#medium {
    display: none;
}

@media all and (max-width: 410px) {
    body {
        background-color: red;
        font-size: 1rem;
    }

    #small {
        display: block;
    }

    #medium,
    #large {
        display: none;
    }
}

@media all and (min-width: 410px) and (max-width: 768px) {
    body {
        background-color: green;
        font-size: 1.5rem;
    }

    #medium {
        display: block;
    }

    #small,
    #large {
        display: none;
    }
}
